
#bg-color
{
    background-color:#c3c3a2;
    border-radius: 1px;
    border: 1px solid #fff;

}
.ta
{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;

}


.chart
{
    background-color:#ebebe0;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.margins
{
    margin-right: 15px;
    margin-left: 15px;
}
.item-center
{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
.table-box
{
    background-color:#ebebe0;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.name
{
    size:35px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;

}
.desc
{
    size:25px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;

}.votes
 {
     size:20px;
     margin-top: 15px;
     margin-bottom: 15px;
     text-align: center;

 }
 .chart-results-style
 {
     height: 370px;
     width: 100%;
 }
 .button
 {
     width: 150px;
     text-align: center;
 }
.avatars
{

    text-align: center;
}
.avatar
{
    min-width: 100px;
    text-align: center;
    font-size: 10px;
    padding: 10px;
}